.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__left {
    display: flex;
    flex-direction: column;
}

/*................signout..............................*/


.signout__line {
    /* display: flex;
    flex-direction: column; */
    margin-left: 75%;
    margin-right: 10px; 
    margin-bottom: 30px;; 
    color: rgb(0, 0, 0);
    border:0.5px solid gray;
    padding:3px;
}
.signout__line:hover{
    background-color: brown;
}
.signout__LineOne {
     font-size: 14px;
    font-weight: 800; 
    color:black;
}
